*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sometype Mono", monospace;
}

img {
  width: 100%;
  height: 100%;
}

/* Utility classes */
.wrapper {
  max-width: 75em;
  padding-inline: 1rem;
  margin-inline: auto;
}

/* ------ NavBar ----- */
nav {
  display: flex;
  justify-content: space-between;
  padding-block: 2.5rem;
  font-size: 14px;
}

nav .title {
  font-size: 18px;
  font-weight: 500;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
}

.menu_items {
  display: flex;
  gap: 2rem;
}

/* Home section */

#home {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sustain {
  width: 18%;
}

.sustain span {
  font-size: 14px;
}

.sustain p {
  margin-top: 0.5rem;
  font-size: 12px;
}

.sustain > div {
  margin-top: 1rem;
  width: 60%;
}

.ephemeral {
  width: 30%;
  position: relative;
}

.ephemeral h1 {
  position: absolute;
  top: -3.2rem;
  left: -2.2rem;
  font-size: 48px;
  line-height: 0.8;
}

.ephemeral span {
  display: block;
}

.ephemeral p {
  margin-top: 1rem;
  font-size: 14px;
  width: 50%;
  font-weight: 700;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta > div {
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;

  display: grid;
  place-items: center;
}

.cta i {
  font-size: 12px;
}

.cta p {
  font-size: 12px;
}

/* Motive section */
#motive h2 {
  margin-top: 5rem;
  color: #a7a2a2;
  letter-spacing: -1.2px;
}

#motive p {
  margin-top: 1rem;
  width: 90%;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.7;
  margin-left: auto;
  text-align: right;
}

#motive span {
  display: inline-block;
  border-radius: 100px;
  margin: 0 0.5rem;
  margin-bottom: -0.8rem;
}

.pic_one {
  width: 5rem;
  height: 2.5rem;
  background: url("/assets/bluegirl.jpg");
  background-position: 50% 55%;
  background-size: cover;
}

.pic_two {
  width: 7rem;
  height: 2.5rem;
  background: url("/assets/shaljam.jpg");
  background-position: center;
  background-size: cover;
}

.pic_three {
  width: 5rem;
  height: 2.5rem;
  background: url("/assets/grass.jpg");
  background-position: center;
  background-size: cover;
}

/* Values section */
#values > div {
  margin-top: 5rem;
  width: 90%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.synergy {
  width: 20%;
}

.synergy div {
  height: 300px;
}

.synergy h2 {
  margin-top: 1rem;
}

.synergy p {
  margin-top: 0.5rem;
  font-size: 12px;
}

.synergy img {
  object-fit: cover;
}

.harmony {
  width: 30%;
  text-align: right;
}

.harmony div {
  height: 500px;
}

.harmony h2 {
  margin-top: 1rem;
}

.harmony p {
  margin-top: 0.5rem;
  font-size: 12px;
}

/* Packaging section */
#packaging {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  align-items: center;
}

.packaging_images {
  height: 35rem;
}

.bottle1 {
  object-fit: cover;
  object-position: 50% 70%;
}

.bottle2 {
  display: none;
  object-fit: cover;
  object-position: center;
}

.packaging_content {
  width: 75%;
}

.packaging_content h2 {
  line-height: 1;
}

.packaging_content p {
  margin-top: 1.2rem;
  font-size: 12px;
}

/* Video section */
#video {
  position: relative;
  margin-bottom: 0;
}

.video {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.video_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.video_content h2 {
  letter-spacing: -2.8px;
}

.video_content button {
  margin-top: 0.8rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}
